<form #contactForm="ngForm" (ngSubmit)="sendMessage()">
    <p>Contact with us</p>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" name="emailAddress" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="message.emailAddress"> 
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Name</label>
        <input type="text" class="form-control" name="name" id="exampleFormControlInput2" placeholder="Name" [(ngModel)]="message.name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput3">Surname</label>
        <input type="text" class="form-control" name="surname" id="exampleFormControlInput3" placeholder="Surname" [(ngModel)]="message.surname">
    </div>
    <div class="form-group">
      <label for="exampleTitle">Title</label>
      <input type="text" class="form-control" name="title" id="exampleTitle" placeholder="Title" [(ngModel)]="message.title">
  </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Your message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="messageContent" rows="6" placeholder="Your message" [(ngModel)]="message.messageContent"></textarea>
    </div>
    <div class="text-right">
    <button type="submit" class="btn btn-lg btn-primary">Send</button>
    </div>
</form>