h1 {
    text-align: center;
    padding-top: 10%;
}
h2 {
    padding-top: 20px;
    text-align: center;
}
.regbutton{
    padding-top: 20px;
}

.registerform{
     margin-top: 10%;
}
.startview{
    margin-top: 12%;
}