button {
    margin-top: 5%;
    width: 30%;
}
h1{
    text-align: center;
}
.p{
    font-size: 13px;
    line-height: normal;
    font-weight: 500;
    padding-left: 12%;
}
.price{
    padding-left: 12%;
    padding-top: 3%;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}
.info{
    margin-top: 1%;
}
img {
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
}

.btn-success{
    margin-left: 10%;
}

.btn-danger{
    margin-right: 10%;
}