mat-form-field {
    margin-right: 12px;
  }


  .firstday{
  padding-left: 10%;
  }

.searchroom {
  border-style: double;
  padding-left: 2%;
  margin-top: 2%;
  padding-top: 2%;
  padding-right: 1%;
  }

.textinform {
margin-top: 3%;
text-align: center;
}
