<div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col-sm-6">
            <img src="assets/images/kitchen.jpg" alt="alt" height="400px" width="500px">
        </div>
        <div class="col">
            <h2>Kitchen</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/mountains.jpg" alt="alt" height="400px" width="500px">
        </div>
        <div class="col">
            <h2>Mountains</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/gym.jpg" alt="alt" height="400px" width="500px">
        </div>
        <div class="col">
            <h2>Gym</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/orlik.PNG" alt="alt" height="400px" width="500px">
        </div>
        <div class="col">
            <h2>Football Pitch</h2>
        </div>
    </div>
</div>